@font-face {

    font-family: Scriptina;
    src: url(../fonts/scriptina.ttf);
}
@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url(../fonts/Raleway-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: OpenSans; /* Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

.nav-col{
background-color: rgba(71,58,58,0.63);
    border: none;
    color: #ffffff;
}

.navbar-brand {
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {

    color: #ffffff;
}
a.navbar-brand{
    color: white;
}
/*end header*/


body{

}
header{
    /*min-height: 570px;*/
    /*background: url("../img/hardest-languages-to-learn.jpg") no-repeat ;*/
    /*background-size: 100%;*/
}
header img.head-img{
    width: 100%;
}
.navbar-leng{
    background-color: rgba(94,77,77,0.65);

}
body{
    width: 100%;
}
.navbar-leng  a{
    color: white;
}
.navbar-leng li{
}
.navbar-leng li a:hover{
    color: white;
    background-color:rgba(94,77,77,0.80);
}
.navbar-brand{
margin-right: 15px;
    padding: 5px 0 0;
}
.navbar-leng .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-leng .navbar-toggle {
    border-radius: 5px;
    border: 2px solid white;
}
.slide-1 h2{
    font-family: Raleway;
    font-weight: bold;
}
.head-sl1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.slide-1{
    margin-top: 50px;
font-family: OpenSans;
}
.skype_less{
    padding-bottom: 15px;
    font-family: OpenSans;
    background-color: #f5f5f5;
    color: #6adfff;
}
.skype_less img{
    margin-left: 15px;
}
.slide-2{
    margin-top: 50px;
    min-height: 500px;
    background: url("../img/slide2.jpg") no-repeat;
    background-size: cover;

}
.slide-3{
    margin-top: 70px;
    min-height: 700px;
    background: transparent url(../img/line_slide3.png) no-repeat center 0;
    background-size: contain;
    width: 100%;
    overflow: hidden;
}
.slide-3 .items{
    margin-top: 135px;
}
.slide-3 .items img{
    border-radius: 100%;

}
.slide-3 .item{
    padding: 10px;
    display: inline-block;
    margin-left: 50px;
    float: left;
    background: transparent url(../img/home-concept-item.png) no-repeat 2px 2px;
}
.slide-3 .big_item{
    padding: 10px;
    margin: 50px;
    border-radius: 100%;
    border: 1px #666666 dashed;
    /*background: transparent url(../img/home-concept-item.png) no-repeat 100% 0;*/
}
@media screen and (min-device-width: 1600px) {
    .slide-3 .items{
        margin-top: 185px;
    }
    .slide-3 .item{
        margin-left: 85px;

    }
}